.title{
    font-family: "DM Sans";
    font-size: 3em;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link{
    border: 1px solid green;
    background: green;
    object-fit: contain;
    padding: 10px 25px;
    border-radius: 25px;
}

.link:hover{
    border: 1px solid #fff;
    background: #fff;
    object-fit: contain;
    padding: 10px 25px;
    border-radius: 25px;
    color: green;
}
